// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

$body-font-family: 'Righteous', 'Hiragino Maru Gothic Pro', 'ヒラギノ角ゴ Pro W3',
'メイリオ', Meiryo, 'MS Pゴシック', sans-serif;
$btn-text-transform: capitalize;
